html,body, .mui-content {
	background-color: #fff;
}

.zeo {
	margin-right: 20px;
}

h4 {
	margin-bottom: 8px;
}

form {
	display: inline-block;
	margin-top: 8px;
	float: right;
}

.picer {
	margin-top: 44px;;
}

.date {
	float: left;
	display: block;
	width: 40px;
	height: 55px;
	font-size: 16px;
	color: #fff;
}

